.nav-list__main{
    background: #232f3e;
    position: relative;
}
.input-group.search{
    width: 700px;
}
.search-field{
    padding: 20px;
}
.btn-navbar{
    padding: 10px 22px;
    background: transparent;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 600;
}
.btns-right{
    display: flex;
    justify-content: center;
    align-items: center;
}