/* ========================== ROOT ========================== */

:root {
--color-primary: #e7e7e7;
--color-danger: #ff7782;
--color-success: #41f1b6;
--color-warning: #ffbb55;
--color-white: #fff;
--color-info-dark: #7d8da1;
--color-info-light: #dce1eb;
--color-dark: #363949;
--color-light: rgba(132, 139, 200, 0.18);
--color-primary-variant1: #111e88;
--color-dark-variant: #677483;
--color-background: #f6f6f9;
--color-text: #555;

--card-border-radius: 2rem;
--border-radius-1: 0.4rem;
--border-radius-2: 0.8rem;
--border-radius-3: 1.2rem;

--card-padding: 1.8rem;
--padding-1: 1.2rem;

--box-shadow: 0 2rem 3rem var(--color-light);
}
*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearnace: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html{
    font-size: 14px;
}
header{
    width: 98%;
    height: 60px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    border-bottom: 2px solid #ddd;
}
.row {
    margin: 0 !important;
    width: 1620px !important;
}
.container-md{
    display: flex;
    justify-content: center;
}
.container-fluid__main{
    position: relative;
}
.slider-btn{
    font-size: 30px;
    color: black;
    margin: 0 5px;
    cursor: pointer;
    color: #555;
    width: 30px;
    height: 100px;
    display: inline-block;
    line-height: 19px;
    text-align: center;
    border-radius: 3px;
}
.slider-btn:hover{
    background: #222;
    color: white;
}
.slider-btn__left{
    position: absolute;
    top: 190px;
    left: -5px;
}
.slider-btn__right{
    position: absolute;
    top: 190px;
    right: 0;
    z-index: 99;
}
.product{
    width: 100%;
}
.slider-wrap{
    overflow: hidden;
    height: 480px;
}

.slider-main{
    display: flex;
    width: 7620px;
}

.item{
    justify-content: center;
    background: var(--color-primary);
    width: 400px;
    height: 480px;
    margin-right: 5px;
    position: relative;
}

.text{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image{
    vertical-align: middle;
    border-style: none;
    width: 400px;
    height: 300px;
    padding: 10px;
}
.product-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.product-detail__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.product-buy{
    display: flex;
    height: 40px;
    width: 350px;
    background: var(--color-info-light);
    justify-content: center;
    align-items: center;
    align-items: center;
    position: absolute;
    top: 400px;
}
.product-buy__link{
    color: black;
    font-size: 14px;
    letter-spacing: 5px;
    font-weight: 700;
    text-decoration: none !important;
}