{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <script src="https://kit.fontawesome.com/463a0385d1.js" crossorigin="anonymous"></script>
    {% block script %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header class="header">
    <a href="#" class="logo"><i class="fas fa-shopping-basket"></i>Grocery</a>
    <nav class="navbar">
        <a href="#home">home</a>
        <a href="#features">features</a>
        <a href="#products">products</a>
        <a href="#categories">categories</a>
        <a href="#review">blogs</a>
    </nav>
    <div class="icons">
        <div class="fas fa-bars" id="menu-btn"></div>
        <div class="fas fa-search" id="search-btn"></div>
        <div class="fas fa-shopping-cart" id="cart-btn"></div>
    </div>
    <form action="" class="search-form">
        <input type="search" id="search-box" placeholder="search here ...">
        <label for="search-box" class="fas fa-search"></label>
    </form>

    <div class="shopping-cart">
        <div class="box">
            <i class="fas fa-trash"></i>
            <img src="{% static 'images/logo.png'%}" >
            <div class="content">
                <h3>watermelon</h3>
                <span class="price">$4.99/-</span>
                <span class="quantity">qty : 1</span>
            </div>
        </div>
        <div class="box">
            <i class="fas fa-trash"></i>
            <img src="{% static 'images/logo.png' %}">
            <div class="content">
                <h3>onions</h3>
                <span class="price">$4.99/-</span>
                <span class="quantity">qty : 1</span>
            </div>
        </div>
        <div class="box">
            <i class="fas fa-trash"></i>
            <img src="{% static 'images/logo.png' %}">
            <div class="content">
                <h3>chicken</h3>
                <span class="price">$4.99/-</span>
                <span class="quantity">qty : 1</span>
            </div>
        </div>
        <div class="total"> total : $19.69/- </div>
        <a href="#" class="btn">checkout</a>
    </div>
</header>
{% block content %}
{% endblock %}
<section class="footer">
    <div class="box-container">
        <div class="box">
            <h3> groco <i class="fas fa-shopping-basket"></i></h3>
            <p> Lorem inpsum dolor sit amet consictatur adipicing elit. </p>
            <div class="share">
                <a href="#" class="fab fa-facebook"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>
        <div class="box">
            <h3> contact info</h3>
            <a href="#" class="links"> <i class="fas fa-phone"></i> +123-456-7890</a>
            <a href="#" class="links"> <i class="fas fa-phone"></i> +111-222-3333</a>
            <a href="#" class="links"> <i class="fas fa-envelope"></i> indiskychay@reptil.com</a>
            <a href="#" class="links"> <i class="fas fa-map-marker-alt"></i> moscow, india</a>
        </div>
    </div>
</section>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script src="{% static 'js/base.js' %}"></script>
</body>
</html>